<div class="row">
  <!-- this image will only be displayed on desktops -->
  <div class="col l5 grey lighten-3 hide-on-med-and-down">
    <img class="hide-on-med-and-down" src="../../assets/suit_jacket.jpg">
  </div>
  <!-- end image -->

  <!-- begin all news text -->
  <div class="col l5 offset-l1 m12 s12 ">

    <h2 class="center-align grey-text">LATEST</h2>

    <!-- start news snippet -->
    <div class="section news_snippet">

      <!-- begin title -->
      <div class="col s4 m4 l4">
        <h5 class="left-align">Title</h5>
        <h6 class="left-align">01 . 2019</h6>
        <div class="divider"></div>
      </div> 
      <!-- end title -->

      <!-- begin content -->
      <div class="col s8 m8 l8">
        <p class="right-align"><br><br>this section will be things that Christian is going to or has recently starred in.</p>
        <p class="right-align"><a href="#">read more</a></p>
      </div>
      <!-- end content -->

    </div> 
    <!-- end news snippet -->

    <div class="news_padding"></div>

    <!-- start news snippet -->
    <div class="section news_snippet">

      <!-- begin title -->
      <div class="col s4 m4 l4">
          <h5 class="left-align">Austin Opera</h5>
          <h6 class="left-align">01 . 2019</h6>
          <div class="divider"></div>
      </div>
      <!-- end title -->

      <!-- begin content -->
      <div class="col s8 m8 l8">
          <p class="left-align"><br><br>Some will have pictures? this section will be things that Christian is going to or has recently starred in. fjeisfie fesjio fejsiop4i er3ufjen. 838fnwr.some will have pictures? this section will be things that Christian is going to or has recently starred in. fjeisfie fesjio fejsiop4i er3ufjen. 838fnwr.some will have pictures? this section will be things that Christian is going to or has recently starred in. fjeisfie fesjio fejsiop4i er3ufjen. 838fnwr.some will have pictures? this section will be things that Christian is going to or has recently starred in. fjeisfie fesjio fejsiop4i er3ufjen. 838fnwr.</p>
          <p class="right-align"><a href="#">read more</a></p>
      </div>
      <!-- end content -->

    </div> 
    <!-- end news snippet -->

    <div class="news_padding"></div>

    <!-- start news snippet -->
    <div class="section news_snippet">
      
      <!-- begin title -->
      <div class="col s4 m4 l4">
        <h5 class="left-align">Title</h5>
        <h6 class="left-align">01 . 2019</h6>
        <div class="divider"></div>
      </div>
      <!-- end title -->

      <!-- begin content -->
      <div class="col s8 m8 l8">
        <p class="right-align"><br><br>this section will be things that Christian is going to or has recently starred in.</p>
        <p class="right-align"><a href="#">read more</a></p>

      </div>
      <!-- end content -->

    </div> 
    <!-- end news snippet -->

    <div class="news_padding"></div>
  
    <!-- start news snippet -->
    <div class="section news_snippet">

      <!-- begin title -->
      <div class="col s4 m4 l4">
        <h5 class="left-align">Title</h5>
        <h6 class="left-align">01 . 2019</h6>
        <div class="divider"></div>
      </div>
      <!-- end title -->

      <!-- begin content -->
      <div class="col s8 m8 l8">
        <p class="right-align"><br><br>this section will be things that Christian is going to or has recently starred in.</p>
        <p class="right-align"><a href="#">read more</a></p>

      </div>
      <!-- end content -->

    </div>    
    <!-- end news snippet -->
  
  </div>
  <!-- end all news text -->
</div>