<div class="row section">
  <div class="row section" style="text-align: center">
      <img class="" src="../../assets/zaremba_logo/email_size.jpg"> 
  </div>
  <div class="row valign-wrapper section">
    <div>
        <p class="right-align">ADA Artist Management</p>
        <p class="right-align">236 West 30th Street Floor 3</p> 
        <p class="right-align">NY, NY 10001</p>
        <p>phone: 212 - 567 - 7670</p>
        <p>email: <a href="mailto:ana@ada-artists.com">   ana@ada-artists.com</a></p>
        <a target="_blank"href="https://www.instagram.com/zarembabass/"><img class="insta"src="../../assets/insta.png"></a>
    </div>
    <div class="">
      
    </div>
  </div>
</div>


  



  


