<div class="row section">
  <div class="row section">
      <img class="col m5" src="../../assets/zaremba_logo/dark_logo_transparent_background.png"> 
  </div>
  <div class="row valign-wrapper section" style="text-align: left">
    <div class="col m3 offset-m2">
        <p>General Management​​: Ana De Archuleta</p>
        <p>ADA Artist Management</p>
        <p>236 West 30th Street Floor 3,New York, NY 10001</p>
        <p>phone: 212 - 567 - 7670</p>
        <p>email: <a href="mailto:ana@ada-artists.com">   ana@ada-artists.com</a></p>
        <a target="_blank"href="https://www.instagram.com/zarembabass/"><img class="insta"src="../../assets/insta.png"></a>
    </div>
    <div class="">
      
    </div>
  </div>
</div>


  



  


