<div class="row grey darken-4">
  <img class="calendar_image hide-on-med-and-down" src="../../assets/lean_opera_news.jpg">
  <div class="padding hide-on-large-only"></div>
  <h5 class="right-align white-text title">UPCOMING PERFORMANCES</h5>
  <div class="padding hide-on-large-only"></div>
  <div class="light-padding hide-on-med-and-down"></div>
</div>

<div class="divider"></div>

<!-- AUSTIN -->
<div class="row valign-wrapper hoverable" style="text-align: center">
  <div class="col s4">
    <h6>JANUARY 26 & 31 2019;</h6>
    <h6>FEBRUARY 03, 2018;</h6>
  </div>
  <div class="col s4">
    <h6 class="title">PUTS: SILENT NIGHT (GENERAL AUDABERT)</h6>
    <p>AUSTIN OPERA, TEXAS</p>
  </div>
  <div class="col s3 grey darken-4 ">
    <a target="_blank" href="https://austinopera.org/event/silent-night/" class="white-text btn-flat">BUY TICKETS</a>
  </div>
</div>

<!-- MN -->
<div class="row valign-wrapper hoverable" style="text-align: center">
    <div class="col s4">
      <h6>MARCH 16, 19, 21, 23 & 24 2019;</h6>
    </div>
    <div class="col s4">
      <h6 class="title">COMPOSER: THE FIX ("MOUNTAIN" LANDIS)</h6>
      <p>MN OPERA, MINNESOTA</p>
    </div>
    <div class="col s3 grey darken-4 ">
      <a target="_blank" href="https://mnopera.org/season/2018-2019/the-fix/"class="white-text btn-flat">BUY TICKETS</a>
    </div>
  </div>

  <!-- LYRIC KC -->
  <div class="row valign-wrapper hoverable" style="text-align: center">
      <div class="col s4">
        <h6>APRIL 27, 2019;</h6>
        <h6>MAY 1, 3, & 5 2019;</h6>        
      </div>
      <div class="col s4">
        <h6 class="title">BIZET: THE PEARL FISHERS (NOURABAD)</h6>
        <p>LYRIC OPERA, KANSAS CITY</p>
      </div>
      <div class="col s3 grey darken-4 ">
        <a target="_blank" href="https://tickets.kcopera.org/single/PSDetail.aspx?psn=13594" class="white-text btn-flat">BUY TICKETS</a>
      </div>
  </div>

  <!-- ST LOUIS -->
  <div class="row valign-wrapper hoverable" style="text-align: center">
      <div class="col s4">
        <h6>JUNE 01, 05, 14, 20, 22, 26 & 30 2019;</h6>
      </div>
      <div class="col s4">
        <h6 class="title">VERDI: RIGOLETTO (SPARAFUCILE)</h6>
        <p>OPERA ST LOUIS, KANSAS CITY</p>
      </div>
      <div class="col s3 grey darken-4 ">
        <a target="_blank" href="https://www.opera-stl.org/season-and-events/productions/rigoletto-2019#production-page-calendar" class="white-text btn-flat">BUY TICKETS</a>
      </div>
  </div>  
