  <!-- header -->
<div class="bio_landing container section">

  <!-- title -->
  <div class="row section" style="text-align:center">
    <h3 class="grey-text text-darken-2">BIOGRPAHY</h3>
  </div>
  <!-- end title -->

  <!-- main bio landing page content -->
  <div class="row valign-wrapper ">
    
    <img class="col s12 m8 bio_landing_image" src="../../assets/microphone.jpg">

    <!-- bio landing page text -->
    <div class="col s12 m6">
      <div class="card grey darken-4">
        <div class="card-content grey-text text-lighten-1 raleway">
          <h4 class="left-align ">"Here is a quote about art, life, music and greatness."</h4><br>
          <p class="right-align">a great artist</p>
        </div>
      </div>
    </div>
    <!-- end bio landing page text -->

  </div>
  <!-- end main bio landing page content -->

</div>
<!-- end header -->

<div class="divider grey"></div>

<!-- begin bio content -->
<div class="container section">

  <!-- padding -->
  <div class="row section"></div> 

  <!-- first bio section -->
  <!-- image -->
  <div class="row section">
    <img class="col m12"src="../../assets/angelotti.jpg">
    <blockquote class="" >As Angelotti with Vittorio Grigolo in the Metropolitan Opera's 2018-2019 production of Tosca.</blockquote>
  </div>
  <!-- text -->
  <div class="row section">
    <p class="center-align col s10 m10 offset-m1 offset-s1 flow-text raleway">
    Last season, Mr. Zaremba was seen as Angelotti in Tosca at the Metropolitan Opera, Sparafucile in Rigoletto with Michigan Opera Theater, Zuniga in Carmen with Austin Opera, and the bass soloist in Verdi’s Requiem with The Greenwich Symphony.</p>
  </div>
  <!-- end first bio section -->

  <!-- begin second bio section -->
  <div class="row section">
    <img class="col s12 m12 section"src="../../assets/collatinus.jpg">
    <blockquote class="" >As Collatinus with a lady in the a place's production of The Rape of Lucretia.</blockquote>

    <p class="center-align col s10 m10 offset-m1 offset-s1 flow-text raleway">Recent highlights include Il Re in Aïda with the National Symphony, Collatinus in The Rape of Lucretia, Passagallo in L’Opera Seria, and Dr. Bartolo in Le nozze di Figaro with Wolf Trap Opera, Colline in La bohème with Portland Opera and Opera Omaha, Sarastro in Die Zauberflöte and Ashby in La fanciulla del West with Minnesota Opera, and the Bass Soloist in The Little Match Girl Passion with the Glimmerglass Festival and Portland Opera.
    In the 2018-2019 season, Mr. Zaremba returns to The Metropolitan for productions of Gianni Schicchi and Tosca before greeting the New Year with a return to Austin Opera as the French General in Silent Night.  He then will make debuts with The Lyric Opera of Kansas City as Nouribad in Les pêcheurs des perles and reprise his Sparafucile in Rigoletto with Opera Theatre of St. Louis.</p>
  </div>
  <!-- end second bio section -->

  <!-- begin picture row -->
  <div class="row">
    <img class="col s3 bio_image" src="../../assets/andrew.jpg"> 
    <img class="col s3 bio_image"src="../../assets/sarastro.jpg">
    <img class="col s3 bio_image" src="../../assets/del_west.jpg">
    <img class="col s3 bio_image"  src="../../assets/zuniga.jpg"> 
  </div>
  <div class="row">
      <blockquote>Left to right: As Andrew in Difficulties of Crossing a Field, Portland Opera; As Sarastro in Magic Flute, as a person in Fanciulla del West; As Zuniga in Carmen.</blockquote>

  </div>
  <!-- end picture row -->

  <!-- padding -->
  <div class="row"></div>

  <!-- begin third bio section -->
  <div class="row">   
      <p class="col m4 s4 flow-text raleway">Whether “stealing the evening. . . as the dancing master” (The Washington Post) or “chilling in espousing the theories of Negro management” (Opera News), French-American bass, Christian Zaremba, is intent on leaving a strong impression each time he performs.</p>
    <div class="col m8 s8">
        <img class="end_bio_image" src="../../assets/del_west_center.jpg">
        <blockquote class="" >As dude with Vittorio Grigolo in the Metropolitan Opera's 2018-2019 production of Tosca.</blockquote>
    </div> 
  </div>

  <!-- end third bio section -->
</div>

