<div class="row"></div>
<div class="row valign-wrapper">
  <!-- header images -->
  <header class="">
    <img class="header_image col m4 hide-on-med-and-down" src="../../assets/marble_background.jpg">
    <img class="header_image col m4 hide-on-med-and-down" src="../../assets/blue_vest.jpg">
    <img class="header_image col m4 hide-on-med-and-down" src="../../assets/marble_background2.jpg">
    <img class="header_image_tablet center-align col s12 hide-on-large-only" src="../../assets/blue_vest_tablet_version.jpg">
  </header>
</div>
<!-- end header images -->

<!-- desktop nav bar -->
<div class="row hide-on-med-and-down">
    <h6 class="right-align col m1 offset-m7 btn-flat"><a class="black-text" href="#calendar">CALENDAR</a></h6>
    <h6 class="right-align col m1 btn-flat"><a class="black-text" href="#bio">BIOGRAPHY</a></h6>
    <h6 class="right-align col m1 btn-flat grey"><a class="black-text" href="#latest">LATEST</a></h6>
    <h6 class="right-align col m1 btn-flat"><a class="black-text" href="#contact">CONTACT</a></h6>
</div>
<!-- end desktop nav bar -->

<!-- tablet side nav -->
<ul id="slide-out" class="sidenav">
  <li><a href="#calendar">CALENDAR</a></li>
  <li><a href="#bio">BIOGRAPHY</a></li>
  <li><a href="#latest">LATEST</a></li>
  <li><a href="#contact">CONTACT</a></li>
</ul>
<div class="row">
  <a href="#" data-target="slide-out" class=" black-text col s2 offset-s10 sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
</div>
<!-- end tablet side nav -->
<div class="divider grey"></div>
<!-- END HEADER AND NAV BAR -->

<app-latest id="latest"></app-latest>
<div class="divider grey"></div>
<app-engagements id="calendar"></app-engagements>
<div class="divider grey"></div>
<app-bio id="bio"></app-bio>
<div class="divider grey"></div>
<app-contact id="contact"></app-contact>
